/* =======================================

		Changes made to metro-bootstrap.css
		
		Building on Twitter Bootstrap
		http://twitter.github.com/bootstrap
		This file is linked to /css/metrobootstrap.css
		
========================================== */


/* Edit this to change your Master Colors */


body {
  color: #333333;
  background-color: #ffffff;
}

a {
  color: #2e8bcc;
  text-decoration: none;
}
a:hover {
  color: #20608e;
  text-decoration: underline;
}



/* 	Edit this to change your Tiles and Tile Colors:
	Tiles come in Red, Blue, Green, Orange, Yellow, Pink, Purple, Lime, Magenta, Teal and Lime.
	Edit below to change a tile to your school's color'
	*/



.thumbnails > li.tile {
  background-color: #F97B28;
}



